<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebServiceCsharpSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:44285/WebServiceCsharp.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebServiceCsharpSoap"
                contract="ServiceReferenceCsharp.WebServiceCsharpSoap" name="WebServiceCsharpSoap" />
        </client>
    </system.serviceModel>
</configuration>